div(class = "field")
    label(for='title') Title:
    input#title(name='title' type='text' value=book.title)
div(class = "field")
    label(for='author') Author:
    input#author(name='author' type='text' value=book.author)
div(class = "field")
    label(for='genre') Genre:
    input#genre(name='genre' type='text' value=book.genre)
div(class = "field")
    label(for='year') Year:
    input#year(name='year' type='text' value=book.year)