extends ../layout 

block content 
    include book-errors
    div(class = "update-form")
        h1(class = "new-title") Update or Delete
        form(action=`/books/${book.id}`, method = "POST")
            include form
            div(class = "actions-field")
                input(type='submit' value='Update Book')
                a.button(href='/') Cancel
        include ../deleteForm
