:root{
  --Background: #16161a;
  --Headline: #fffffe;
  --Paragraph: #94a1b2;
  --Button: #7f5af0;
  --Stroke: #010101;
  --Highlight: #7f5af0;
  --Tertiary: #2cb67d;
  --Main :#fffffe;
  --Secondary: #72757e;
}

body {
  background-color:var(--Background);
  font-family: 'Roboto Slab', serif;

}
a {
  color:var(--Main);
  text-decoration: none;
  letter-spacing: 1.2px;
  transition: all .3s ease-in-out;
}


a:hover {
  color: var(--Highlight);
}


a.button, input[type=submit] {
  color: white;
  background: var(--Button);
  padding: 10px 14px 12px;
  font-size: 15px;
  border-radius: 50px;
  margin: 0 15px 0 0;
  cursor: pointer;
  font-family: 'Roboto Slab', serif;
}

form a.button, input[type=submit] {
  background: var(--Button);
  transition: all .3 ease-in-out;
}

input[type=submit] {
  border: 0;
  transition: all .3s ease-in-out;
}

input[type=submit]:hover {
  background-color: var(--Tertiary);
}

  a.button:hover, input[type=submit]:hover {
    background-color: var(--Tertiary);
  }



ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

li {
  margin-bottom: 10px;
}

h1 {
  margin-top: 0;
}


table {
  width: 95%;
  height: 600px;
  border: 2px solid var(--Stroke);
  padding: 5px;
  border-radius: 9px;
  margin-left: 10px;
}

th {
  color:var(--Main);
  border-bottom: 2px solid var(--Highlight);
  font-size: 18px;
  letter-spacing: 1.2px;
  font-family: 'Roboto Slab', serif;;
  text-align: left;
  padding: 5px 20px 5px 10px;
}


tr:nth-child(2n) {
  background-color:rgb(104, 103, 103, .5);
}

td {
  color: var(--Main);
  padding: 5px 20px 10px 5px;
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
}

input {
  padding: 10px;
  color:var(--Main);
  outline: none;
  border: none;
  border-bottom: 1px solid var(--Tertiary);
  background-color: rgba(82, 79, 79, 0.164);
  width: 250px;
}

input:focus{
  background-color:rgba(82, 79, 79, 0.39);
}



button{
  background-color:var(--Button);
  border: none;
  color: var(--Main);
  transition: all .3s ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: var(--Tertiary);
  
}

.error-title{
  color: var(--Main);
}
.error {
  position: absolute;
  top: 50%;
  left: 40%;
  color: rgba(253, 69, 69, 0.979);
}

.search {
  display: flex;
}

.pagination-buttons {
  margin: 20px 0 0 10px;
}


.pagination-buttons .active{
  background: var(--Tertiary);
}

.title {
  border: none;
  color: var(--Headline);
  font-size: 60px;
  font-weight: bold;
  position: relative;
  margin-bottom: 45px;
}

.title::after {
  position: absolute;
  content: "";
  width: 110px;
  height: 3px;
  top: 50%;
  left: 15%;
  background-color: var(--Tertiary);
  display: block;
}

.new-title {
  border: none;
  color: var(--Headline);
  font-size: 50px;
  font-weight: bold;
  margin-left: 70px;
}

.main {
  max-width: 1400px;
  margin: 0 auto;
}

.main h1 {
  text-align: center;
}

.main-header{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  position: relative;
}

.main-content {
  margin-bottom: 80px;
}

.main-header form {
  margin: 60px 0 50px 0;
}


.field {
  color: var(--Main);
  letter-spacing: 1.5px;
  margin-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions-field {
  display: flex;
  align-items: center;
  margin: 50px 250px 0 0;
  justify-content: flex-end;
}

/*UPDATE FORM*/
.update-form {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.update-form input[type="submit"]{
  width: 17%;
}

.update-form .actions-field {
  margin: 50px 275px 0 0;
}

.new-form {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}
.new-form input[type="text"] {
  width: 30%;
}

.cancel-button {
  color: white;
  background: var(--Button);
  padding: 10px 14px 12px;
  font-size: 15px;
  border-radius: 50px;
  margin: 0 15px 0 0;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.cancel-button:hover {
  background-color: var(--Tertiary);
  color: var(--Main);
}

.create-button{
  width: 15%;
}

.delete-form input[type="submit"] {
  position: absolute;
  top: 22%;
  right: 25%;
  width: 40px;
  height: 40px;
  border:1px solid  rgba(253, 69, 69, 0.979);
  background-color: inherit;
  padding: 10px;
  margin: 0;
  font-weight: bold;
  transition: all .3s ease-in-out;
}

.delete-form input[type="submit"]:hover {
  background-color:  rgba(253, 69, 69, 0.979);
}


/*NOT FOUND*/
.not-found {
  position: absolute;
  color: var(--Main);
  font-size: 20px;
  right: .3%;
  top: 110%;
}

.not-found span {
  color: rgba(253, 69, 69, 0.979);
  font-size: 25px;
}

@media(min-width: 600px) {
  .title::after {
    display: none;
  }
}

@media(min-width: 1400px) {
  .main-header {
    flex-direction: row;
  }

  .main-content {
    margin: 0;
  }

  .main-header form {
    margin: 0;
    margin-left: 700px;
  }

  .title::after {
    display: block;
    top: 100%;
    left: 28.1%;
  }
  table {
    width: 100%;
    margin-top: 10px;
  }
}
