body {
  padding: 10px 50px 50px;
  font: 18px "Garamond", serif;
  background-color:#fff;
}

a {
  color: rgba(0, 0, 0, .7);
  text-decoration: none;
  font-weight: bold;
}

  a:hover {
    color: #7c03bd;
  }

a.button, input[type=submit] {
  color: white;
  background: #7c03bd;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 20px;
}

form a.button, input[type=submit] {
  margin-left: 140px;
  background: #7c03bd;
}

input[type=submit] {
  border: 0;
}

  a.button:hover, input[type=submit]:hover {
    background-color: #c457ff;
  }

p {
  margin: 20px auto;
  color: rgba(0, 0, 0, .7);
  font-size: 20px;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h1 {
  color: rgba(0, 0, 0, .7);
  border-left: 2px solid #c457ff;
  padding-left: 10px;
  margin-top: 0;
}

h2 {
  border-top: 2px solid #c457ff;
  padding-top: 20px;
}

table {
  margin-top: 20px;
  border: 2px solid #f2daff;
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.7);
}

th {
  color:rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid #c457ff;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
}

tr:nth-child(2n) {
  background: #f2daff;
}

td {
  padding: 5px 20px 10px 5px;
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-color: #E7E7E7;
  border: 1px solid #c457ff;
  color: rgba(0, 0, 0, .7);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
}

button{
  background-color: #7c03bd;
  border: none;
  color: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

button:hover {
  cursor: pointer;
  background-color: #c457ff;
  
}
.error {
  color: rgb(236, 15, 15);
}

.search {
  display: flex;
  
}

.pagination-buttons {
  margin-top: 30px;
  display: flex;
  align-items: center;
  max-width: 600px;
}

.pagination-buttons .active{
  background: #c457ff;
}

form.search {
  margin: 25px 0 10px -5px;
  
}

